!!! 5
%html
  %head
    %title= Habitual
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default(role="navigation")
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed(data-target="#top-navbar" data-toggle="collapse" type="button")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Habitual', root_path, class: 'navbar-brand'
        / Collect the nav links, forms, and other content for toggling
        #top-navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Habits', habits_path
            %li
              = link_to 'Rewards', rewards_path
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                =link_to 'My Account', edit_user_registration_path
              %li
                =link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              %li
                =link_to 'Sign Up', new_user_registration_path
              %li
                =link_to 'Login', new_user_session_path
    .container
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      = yield
